/* Customize the modal background and position */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customize the modal content */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5222d; /* Trendy red color */
  padding: 1rem;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.header h2 {
  font-size: 1.8rem;
  color: #fff;
}

.close-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.close-btn:hover {
  color: #fff;
}

.cart-products {
  background-color: #fff;
  width: 25%;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem; 
}

.empty-text {
  font-size: 1.2rem;
  color: #aaa;
}

.cart-product {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.cart-product img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.product-info h3 {
  font-size: 1.4rem;
  color: #222;
  margin-bottom: 0.5rem;
}

.product-price span {
  font-size: 1.2rem;
  color: #1890ff;
}

.product-controls {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.product-controls input {
  width: 50px;
  padding: 0.2rem;
  margin-right: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.product-controls button {
  border: none;
  background-color: #1890ff;
  color: #fff;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.product-controls button:hover {
  background-color: #40a9ff;
}

/* Additional styles for the total price and print button */
.total-price {
  text-align: center;
  margin-top: 1rem;
}

.total-price p {
  font-size: 1.4rem;
  color: #f5222d; /* Trendy red color */
}

.print-button {
  text-align: center;
  margin-top: 1rem;
}

.print-button button {
  background-color: #f5222d; /* Trendy red color */
  color: #fff;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 4px;
}

.print-button button:hover {
  background-color: #ff4d4f; /* Darker red on hover */
}
